.places__paragraph{
    max-width: 100%;
    min-width: 288px;
    margin: 0 0 26px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


    color: #FFFFFF;
}