.places__content{
    display:flex;
    max-width: 100%;
    margin: 40px 0 0 0;
}
@media screen and (max-width: 767px){
    .places__content{
        margin-top: 32px;
        flex-direction: column;
    }
}