.lead__title{
    margin: auto;
    max-width: 720px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    margin-top: 56px;

    text-align: center;

    color: #FFFFFF;
}
@media screen and (max-width: 766px){
    .lead__title{
        margin-top: 0;
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}
