.header__lang-link_lang_RU{
    position: absolute;
    width: 30px;
    height: 28px;
    right: calc(48px + 29px + 16px);
    top: 46px;
    text-decoration-line: underline;
}
@media screen and (max-width: 768px){
    .header__lang-link_lang_RU{
        right: calc(24px + 29px + 18px);
    }
}
@media screen and (max-width: 320px){
    .header__lang-link_lang_RU{
        width: 22px;
        height: 20px;
        right: calc(16px + 22px + 18px);
    }
}